.information img {
    height: 100%;
    object-fit: cover;
}

.information .title {
    max-width: 350px;
    font: 40px/1 'Open Sans';
}

.information .text {
    font-size: 18px;
}

.information {
    display: grid;
    grid-template-columns: 1fr 1fr;   
}

.information .list {
    max-width: 400px;
    margin: 0 0 30px -15px;
}
