.types .box {
    grid-template-columns: 1fr 1fr 1fr;
}

.types .name {
    margin-top: 20px;
}

.types .item {
    padding: 35px 30px;
}

.types .text {
    font-size: 15px;
}

.types {
    padding-bottom: 50px;
}
