:root {
    --image-grape: url('../../../img/grape.jpg');
}

.description .box {
    display: grid;
    grid-gap: 20px;
    text-align: center;
}

.description .number {
    display: inline-block;
    margin: 15px 0;

    color: var(--text-color__bold);
    font: bold 25px 'Open Sans';
    letter-spacing: 1.2px;
}

.description .item {
    padding: 20px 15px;
    text-align: center;
    background-color: var(--background-color__block-light);
}

.description .item:before {
    display: block;
    color: var(--text-color__bold);
    font-size: 30px
}

.description {
    position: relative;
    padding: 40px 0;
    background-image: var(--background__grape), var(--image-grape);
}

.description:before {
    content: "" ;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 170px;
    background-image: var(--background__image);
}

.description .object {
    color: var(--text-color__button);
}

@media screen and (min-width: 480px) {
    .description .box {
        grid-template-columns: 1fr 1fr;
    }
}
