:root {
    --image-team: url('../../../img/team.jpg');
    --image-grass: url('../../../img/grass.jpg');
    --image-child: url('../../../img/child.jpg');
}

.information .image {
    background: center / cover no-repeat var(--image-team);
    min-height: 400px;
}

.information._grass .image {
    background: center / cover no-repeat var(--image-grass);
}

.information._child .image {
    background: center / cover no-repeat var(--image-child);
}

.information .title {
    margin-bottom: 20px;
    font: bold 25px 'Open Sans';
    color: var(--background-color__block);
}

.information {
    background-image: var(--background__image);
}

.information .text {
    margin-bottom: 30px;
}

.information .box {
    padding: 30px;
}
