.information .image {
    background: center / cover no-repeat url(../../../img/team.jpg);
}

.information._grass .image {
    background: center / cover no-repeat url(../../../img/grass.jpg);
}

.information._child .image {
    background: center / cover no-repeat url(../../../img/child.jpg);
}

.information .title {
    margin-bottom: 20px;
    font: bold 25px Open Sans;
    color: var(--background-color__block);
}

.information {
    background-image: linear-gradient(#6ac17d, #9bf194);
}

.information .text {
    margin-bottom: 30px;
}

.information .box {
    padding: 30px;
}
