.mission {
    padding: 35px 0;
}

.mission .box {
    display: grid;
    grid-gap: 65px;
}

.mission .text {
    padding-left: 25px;
}

.mission .text .title {
    position: relative;
    padding-left: 8px;
    font: bold 35px 'Open Sans';
    color: var(--background-color__block);
}

.mission .text .title:before {
    position: absolute;
    bottom: -3px;
    left: 0px;
    z-index: -1;
    font-size: 70px;
    color: var(--text-color__bold);
}

.mission .section {
    margin-top: 20px;
}
