.pictures {
    padding: 35px 0;
}

.pictures .title {
    position: relative;
    margin-bottom: 60px;
    padding-bottom: 10px;

    color: var(--background-color__block);
    font: bold 35px/1.2 'Open Sans';
}

.pictures .title .line {
    position: absolute;
    bottom: -15px;
    left: 50%;

    display: inline-block;
    width: 200px;

    border-bottom: 2px solid var(--text-color__bold);
    transform: translateX(-50%);
}

.pictures .title .line:before,
.pictures .title .line:after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 50%;

    display: inline-block;
    height: 10px;
    transform: translate(-50%, 50%);
}

.pictures .title .line:before {
    width: 10px;
    background-color: var(--text-color__bold);
}

.pictures .title .line:after {
    width: 6px;
    background-color: var(--background-color__block-light);
}

.pictures .box {
    text-align: center;
}

.pictures .image {
    margin: 40px 0;
}

.pictures button {
    margin-bottom: 30px;
}

@media screen and (min-width: 640px) {
    .pictures .image {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
    }

    .pictures .image img {
        height: 100%;
        min-height: 310px;
        object-fit: cover;
    }
}
