.presentation .cleaner {
    max-width: 185px;
    padding-top: 30px;
    color: var(--background-color__block);
    font: 500 25px Open Sans;
}

.presentation .text { 
    max-width: 230px;
    margin-top: 10px;
}

.presentation {
    padding-bottom: 35px;
    background: center / cover no-repeat url(../../../img/greenbg.png);
}

.presentation .box {
    padding: 50px 30px;
}
