.types {
    background-color: var(--background-color__block);
}

.types .box {
    display: grid;
    grid-gap: 15px;

    text-align: center;
    transform: translateY(-40px);
}

/* Three blocks */
.types .item {
    padding: 20px 15px;
    background-color: var(--background-color__block-types);
}

.types .text {
    margin-top: 10px;
    font: italic 12px 'Open Sans';
}

.types .name {
    display: block;
    margin-top: 10px;
    
    color: var(--text-color__bold);
    font-weight: bold;
    text-transform: uppercase;
}

.types .item:before {
    padding: 8px;
    color: var(--text-color__light);
    background-color: var(--text-color__bold);
    border-radius: 50%;
}

/* ================================================= */
@media screen and (min-width: 480px) {
    .types .box {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
